@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap");
/* SCSS HEX */
.navbar {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 65px;
  width: 100vw;
  padding: 0 3vw;
  z-index: 10;
  color: #fff;
  transition: background 0.4s ease-out;
}
.navbar .nav-list {
  font-family: "Cutive Mono", monospace;
  list-style-type: none;
  display: flex;
}
.navbar .nav-list__item {
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar .nav-list__item:nth-of-type(2) {
  transition-delay: 0.2s;
}
.navbar .nav-list__item:nth-of-type(3) {
  transition-delay: 0.3s;
}
.navbar .nav-list__item a {
  margin: 0.2rem;
  padding: 1rem;
  transition: ease 0.5s;
  font-size: 33px;
}
.navbar .nav-list__item a:hover {
  letter-spacing: 0.3rem;
}
@media only screen and (max-width: 770px) {
  .navbar .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
    color: #fff;
    background-color: black;
    transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s, -webkit-clip-path 1s 0.5s;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
  }
  .navbar .nav-list__item {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .navbar .nav-list__item a {
    display: block;
    padding: 2rem 0;
  }
}
.navbar .menu-icon {
  position: relative;
  margin: 0 1rem;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.navbar .menu-icon__line {
  display: block;
  position: relative;
  background-color: #fff;
  height: 2px;
  width: 25px;
  border-radius: 0.3rem;
  transition: background 0.8s ease;
}
.navbar .menu-icon__line::before, .navbar .menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  transition: background 0.8s ease;
}
.navbar .menu-icon__line::before {
  transform: translateY(-5px);
}
.navbar .menu-icon__line::after {
  transform: translateY(5px);
}
@media only screen and (max-width: 770px) {
  .navbar .menu-icon {
    display: block;
  }
  .navbar .menu-icon__line {
    animation: closeM 0.6s backwards;
    animation-direction: reverse;
  }
  .navbar .menu-icon__line::before {
    animation: closeT 0.6s backwards;
    animation-direction: reverse;
  }
  .navbar .menu-icon__line::after {
    animation: closeB 0.6s backwards;
    animation-direction: reverse;
  }
}
.navbar .menu-btn {
  display: none;
}
@media only screen and (max-width: 770px) {
  .navbar .menu-btn:checked ~ .nav-list {
    opacity: 0.95;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .navbar .menu-btn:checked ~ .nav-list .nav-list__item {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navbar .menu-btn:checked ~ .nav-list .nav-list__item:nth-child(1) {
    transition-delay: 0.7s;
  }
  .navbar .menu-btn:checked ~ .nav-list .nav-list__item:nth-child(2) {
    transition-delay: 0.8s;
  }
  .navbar .menu-btn:checked ~ .nav-list .nav-list__item:nth-child(3) {
    transition-delay: 0.9s;
  }
  .navbar .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
  }
  .navbar .menu-btn:checked ~ .menu-icon .menu-icon__line {
    animation: openM 0.6s forwards;
  }
  .navbar .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    animation: openT 0.6s forwards;
  }
  .navbar .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    animation: openB 0.6s forwards;
  }
}

@media only screen and (min-width: 770px) {
  .nav-scrolled {
    background-color: #081b29;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    width: 100vw;
  }
}

@keyframes openT {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openB {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closeT {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closeM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closeB {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}/*# sourceMappingURL=navbar.css.map */